<launch>
    <node name="xiaoqiang_tts" pkg="xiaoqiang_tts" type="xiaoqiang_tts_node.py" output="screen">
        <!-- 设置语音合成后端程序，目前支持baidu和xunfei -->
        <param name="engine" value="xunfei"/>
        <!-- xunfei语音合成app_id,此参数要去迅飞开发者中心自己申请 -->
        <param name="app_id" value="5b2efdad" type="string"/>
        <!-- 声音输出话题 -->
        <remap from="~audio" to="/xiaoqiang_audio/audio" />
    </node>
    <node name="xiaoqiang_audio" pkg="xiaoqiang_audio" type="audio_play_node.py" output="screen" />
</launch>